<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.png"/>
        <span id="welcomeHeader">Mystic Red Space에 오신 것을 환영합니다.</span>
        <span id="welcomeDescription">Mystic Red Space는 한국 마인크래프트 24시간 모드팩 서버입니다. 바닐라에서 느끼지 못한 새로운 경험을 여러분에게 선사합니다. 기술과 마법으로 가득찬 새로운 세계로, 한번 떠나볼까요?</span>
        <br>
        <span id="welcomeDescCTA">MRS 서버에서 즐거운 시간 보내세요!</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUE
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>